*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/
/app/build.gradle
/app/proguard-rules.pro
/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/settings.gradle
